// Fredoka One', cursive
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
//'Poppins', sans-serif
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

//light theme
$primary: #140850;
$secondary: #46255C;
$light-text: #e9d37e;
$additional: #d46803;